* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 67%, 8%);
  background-image: url("/assets/background-stars.svg");
  width: 100vw;
  height: 100vh;
  color: white;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.font-spartan {
  font-family: "Spartan", sans-serif;
}

.font-antonio {
  font-family: "Antonio", sans-serif;
}

.txt-uppercase {
  text-transform: uppercase;
}

.color-white-half {
  color: rgba(255, 255, 255, 0.5);
}

.border-pale-white {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.color-white {
  color: white;
}

/* -------Navbar------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
}

.navbar-logo {
  width: 40%;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  margin-right: 25px;
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.nav-item {
  cursor: pointer;
}

@media only screen and (max-width: 765px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* End NavBar */

.planet-img-container {
  width: 35%;
  /* height: 30vh; */
  margin: 100px auto;
  text-align: center;
  position: relative;
}

.planet__img {
  width: 100%;
  height: auto;
}

.planet-desc {
  text-align: center;
  padding: 0 24px;
}

.planet-desc__title {
  font-size: 40px;
  margin-bottom: -10px 0;
}

.planet-desc__text {
  font-size: 11px;
  line-height: 2;
  padding: 20px 0 0 0;
}

.planet-desc__source {
  display: inline-block;
  font-size: 12px;
  padding-top: 20px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.wiki {
  font-weight: bolder;
  font-style: 900;
  text-decoration: underline;
}

.attributes {
  margin-top: 25px;
  margin-bottom: 25px;
}

.attributes__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 0 24px;
}

.attributes__name {
  font-weight: 900;
  font-size: 8px;
}

.attributes__quantity {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.75px;
  color: white;
}

.planet-menu {
  width: 100%;
  padding: 20px;
}

.logo {
  font-size: 28px;
  text-transform: uppercase;
}

.planet-menu__btn {
  height: auto;
  font-size: 9px;
  line-height: 10px;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.planet__surface {
  width: 50%;
  position: absolute;
  right: 25%;
  bottom: 0%;
}

.home-menu {
  margin: 0 auto;
}

.home-btn {
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  margin-top: 15%;
}

.home__btn {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 0;
  font-weight: bolder;
  width: 100%;
}

.wrapper {
  display: none;
  height: 100vh;
}

.planetary-menu-lg {
  display: none;
}

@media (min-width: 765px) {
  .planet-menu-sm {
    display: none;
  }

  .navbar {
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
    row-gap: 25px;
  }

  .navbar-logo {
    width: 25%;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 25px;
  }

  /* .nav-item:hover{
background-color: white;

  } */

  .responsiveness-wrapper-md {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .planetary-menu-lg {
    display: block;
    width: 50%;
  }

  .attributes--col {
    display: flex;
    flex-direction: column;
  }

  .attributes--row {
    display: flex;
    flex-direction: row;
  }

  .attributes__row {
    width: 100%;
  }

  .planet-desc {
    text-align: left;
  }

  .planet-desc__text {
    width: 100%;
  }
  .text-source-container {
    width: 50%;
  }

  .planet-menu {
    padding: 0;
  }

  .menu-item {
    width: 80%;
    margin-left: 70px;
  }

  .num {
    margin-right: 10px;
  }

  .planet-menu__btn {
    padding: 16px;
  }
}

@media (min-width: 1300px) {
  .responsiveness-wrapper-lg {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .navbar {
    padding:0;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    /* row-gap: 25px; */
  }

  .navbar-logo {
    width: 25%;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 2%;
  }

  .nav-item{
    padding-top: 4%;
  }


  .planet-img-container {
     /* height: 30vh; */
   }

  .menu-item {
    width: 100%;
    margin: 0;
    height: 40px;
  }

  .wrapper-lg {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 50px;
  }

  .planet-desc {
    width: 33%;
  }

  .planet__img {
    width: 70%;
  }

  .text-source-container {
    width: 65%;
  }

  .planetary-menu-lg {
    display: block;
    width: 65%;
  }

  .attributes {
    margin: 20px auto 0 auto;
    width: 80%;
  }

  .planet__surface {
    width: 30%;
    /* position: absolute; */
    right: 35%;
    /* bottom: -0%; */
  }
}

/* small change */
